@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

$headerfont: 'Open Sans Condensed';

$bandacolor: black;
$bandacolortext: white;
$secondaBandaColor: blue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}